<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Zimmeransicht</title>

    <!--Datepicker-->
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/view/detailedRoomclient.js" type="text/javascript" defer></script>
    <script>
        $(function() {
            $("#datepicker1").datepicker();
        });
    </script>
    <script>
        $(function() {
            $("#datepicker2").datepicker();
        });
    </script>
</head>

<body>

    <header>
        <nav>
            <label class="logo">BUCHMICHL</label>
            <ul>
                <li><a id="home">Home</a></li>
            </ul>
        </nav>
    </header>

    <h1><%= unterkunftname%></h1>

    <div class="w3-content" style="max-width:40%; float: left; margin-left: 3%;">
        <img class="mySlides" src="../public/images/zimmer1.jpg" style="width:100%;display:none">
        <img class="mySlides" src="../public/images/zimmer2.jpg" style="width:100%;">
        <img class="mySlides" src="../public/images/zimmer3.jpg" style="width:100%;display:none">

        <div class="w3-row-padding w3-section">
            <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off" src="../public/images/zimmer1.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
            </div>
            <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off" src="../public/images/zimmer2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
            </div>
            <div class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off" src="../public/images/zimmer3.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
            </div>
        </div>
    </div>


    <div class="details">
        <div class="description">
            <!-- Irgendwelche Infos zum Zimmer -->
            <p><%= unterkunftstext%></p>
         </div>
        <div class="datepicker">
            <p>Date: <input type="text" id="datepicker1"></p>
            
            <p class="sec-date">Date: <input type="text" id="datepicker2"></p>
        </div>
        <div class="infos">
            <h5>Sterne</h5>
            <p><%=sterne%></p>
            <h5>Region</h5>
            <p><%=region%></p>
            <h5>Unterkunftausstattung</h5>
            <p><%=einrichtungen%></p>
            <h5>Verpflegung</h5>
            <p><%=verpflegung%></p>
            <h5>Unterkunftart</h5>
            <p><%=unterkunftart%></p>
            <h5>Freizeitausstattung</h5>
            <p><%=freizeitausstattung%></p>
            <h5>Sehenswürdigkeiten</h5>
            <p><%=sehenswuerdigkeit%></p>
        </div>
        <div class="btn-book">
            <button><a href="#">BUCHEN</a></button>
        </div>
    </div>
</body>

</html>