<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/unterkunftform.css">
    <link rel="stylesheet" href="../public/stylesheets/global.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/view/globalrequestclient.js" type="text/javascript" defer></script>
    <script src="../public/view/unterkunftformclient.js" type="text/javascript" defer></script>
    <title>Buchmichl</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><label class="logo">BUCHMICHL</label></li>
                <li class="dropdown"><a id="home" class="dropbtn">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Settings <%=username%></a>
                    <div class="dropdown-content">
                        <%-options%>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div class="accommodation-form">
        <div class="accommodation-form-content">
            <h1 class="header-form">Unterkunft erstellen</h1>
            <div class="input-name">
                <p>Name Unterkunft</p>
                <input type="text" class="input-form" id="unterkunft-name"/>
            </div>
            <div class="input-name">
                <p>Unterkunft Beschreibung</p>
                <input type="text" class="input-form" id="unterkunft-description"/>
            </div>
            <div class="input-name">
                <p>Region</p>
                <select class="input-form" id="region">
                    <%-region%>
                </select>
            </div>
            
            <div class="input-name">
                <p>Anschrift</p>
                <div class="address">
                    <div>
                        <p class="styled-p">Straße</p>
                        <input class="input-form" id="street"/>
                    </div>
                    <div>
                        <p class="styled-p">Nummer</p>
                        <input class="input-form" id="house-number"/>
                    </div>
                    <div>
                        <p class="styled-p">Ort</p>
                        <input class="input-form" id="location"/>
                    </div>
                    <div>
                        <p class="styled-p">PLZ</p>
                        <input class="input-form" id="plz"/>
                    </div>
                </div>
                <!--<input type="text" class="input-form"/>-->
            </div>
            <br>
            
            <div class="input-name">
                <p>Unterkunftsart</p>
                <select class="input-form" id="unterkunftart">
                    <%-unterkunftart%>
                </select>

            </div>

            <div class="input-name">
                <p>Freitzeitausstattung</p>
                <div class="tag-section" id="freetime-activities">
                    <%-freizeitausstattung%>
                </div>
                <br>
            </div>

            <div class="input-name">
                <p>Unterkunftsausstattung</p>
                <div class="tag-section" id="unterkunft-equipment">
                    <%-unterkunftausstattung%>
                </div>
                <br>
            </div>

            <div class="input-name">
                <p>Sterne</p>
                <div class="input-checkbox">
                    <input type="number" min="0" max="5" accept="" value="" class="input-form input-stars" id="stars"/>&nbsp;
                    <div class="checkbox-form">
                        <input type="checkbox" class="checkbox"/>
                    </div>
                    <p class="input-stars" >&nbsp;S</p>
                </div>
            </div>
            <br>
            <br>
            <input type="button" id="create" class="submit-btn" value="Erstellen"/>
            <br>
            <br>
    </div>
</body>

</html>