<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../public/stylesheets/unterkunftdetails.css">
    <link rel="stylesheet" href="../public/stylesheets/global.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Zimmeransicht</title>

</head>

<body>

    <header>
        <nav>
            <ul>
                <li class="logo">
                    <label class="logo">BUCHMICHL</label>
                </li>
                <li class="dropdown "><a id="home" class="dropbtn">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Settings <%=username%></a>
                    <div class="dropdown-content">
                        <%-options%>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <h1>
        <%= zimmername%>
    </h1>


    <div class="danke-alex">
        <div class="w3-content" style="max-width:40%; margin-left: 3%;">
            <img class="mySlides" src="../public/images/zimmer1.jpg" style="width:100%;display:none">
            <img class="mySlides" src="../public/images/zimmer2.jpg" style="width:100%;">
            <img class="mySlides" src="../public/images/zimmer3.jpg" style="width:100%;display:none">

            <div class="w3-row-padding w3-section">
                <div class="w3-col s4">
                    <img class='demo w3-opacity w3-hover-opacity-off' src='../public/images/zimmer1.jpg' style='width:100%;cursor:pointer' onclick='currentDiv(1)'>
                </div>
                <div class="w3-col s4">
                    <img class='demo w3-opacity w3-hover-opacity-off' src='../public/images/zimmer2.jpg' style='width:100%;cursor:pointer' onclick='currentDiv(2)'>
                </div>
                <div class="w3-col s4">
                    <img class='demo w3-opacity w3-hover-opacity-off' src='../public/images/zimmer3.jpg' style='width:100%;cursor:pointer' onclick='currentDiv(3)'>
                </div>
            </div>
        </div>

        <div class="details">
            <div class="description">
                <!-- Irgendwelche Infos zum Zimmer -->
                <p>
                   <%=zimmertext%>
                </p>
            </div>
            <div class="infos">
                <h5>Preis</h5>
                <p>
                    <%=preis%>
                </p>
                <h5>Anzahl Personen</h5>
                <p>
                    <%=anzahlpersonen%>
                </p>
                <h5>Verpflegung</h5>
                <p>
                    <%=verpflegung%>
                </p>
                <h5>Zimmerart</h5>
                <p>
                    <%=zimmerart%>
                </p>
                <h5>Zimmerausstattung</h5>
                <p>
                    <%=zimmerausstattung%>
                </p>
                <button id="bt_buchen" class="submit-btn">Buchen</button>
            </div>
        </div>

    </div>

</body>

</html>