<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/zimmerform.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/view/globalrequestclient.js" type="text/javascript" defer></script>
    <script src="../public/view/zimmerformclient.js" type="text/javascript" defer></script>
    <title>Buchmichl</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><label class="logo">BUCHMICHL</label></li>
                <li class="dropdown "><a id="home" class="dropbtn">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Settings <%=username%></a>
                    <div class="dropdown-content">
                        <%-options%>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div class="accommodation-form">
        <div class="accommodation-form-content">
            <h1 class="header-form">Zimmer erstellen</h1>
            <div class="input-name">
                <p>Name Zimmer</p>
                <input type="text" class="input-form" id="zimmer-name"/>
            </div>
            <div class="input-name">
                <p>Für die Unterkunft</p>
                <select class="input-form" id="unterkunftSelected">
                    <%-unterkunft%>
                </select>
            </div>
            
            <div class="input-name">
                <p>Zimmerart</p>
                <select class="input-form" id="zimmerart">
                    <%-zimmerart%>
                </select>
            </div>


            <div class="input-name">
                <p>Zimmerausstattung</p>
                <div class="tag-section" id="zimmerausstattung-checkboxen">
                    <%-zimmerausstattung%>
                </div>
                <br>
            </div>

            <div class="input-name">
                <p>Verpflegungsmöglichkeiten</p>
                <div class="tag-section" id="verpflegung-checkboxen">
                    <%-verpflegung%>
                </div>
                <br>
            </div>

            <div class="input-name personen-preis-helper">
                <div style="margin-right: 20px;">
                    <p>Personen</p>
                    <div class="input-checkbox">
                        <input type="number" min="1" max="5" accept="" value="" id="personen" class="input-form input-stars"/>&nbsp;
                    </div>
                </div>

                <div>
                    <p>Preis pro Nacht in €</p>
                    <input type="number" min="0" value=" " accept=" " id="preis" class="input-form input-stars" style="width: 100px;"/>
                </div>
                
            </div>
            <br>
            <br>
            <input type="button" id="create" class="submit-btn" value="Erstellen"/>
            <br>
            <br>
    </div>
</body>

</html>